@font-face {
    font-family: "primaryFont";
    font-display: swap;
    src:  local("Primary-font"), url("/fonts/GothamPro-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "primaryFont";
    font-display: swap;
    src:  local("Primary-font"), url("/fonts/GothamPro-Bold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "primaryFont";
    font-display: swap;
    src:  local("Primary-font"), url("/fonts/GothamPro-Medium.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "primaryFont";
    font-display: swap;
    src:  local("Primary-font"), url("/fonts/GothamPro.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}


