

html * {
  max-height: 100000000px;
}

section {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'primaryFont';
}

h1 {
  font-size: 42px;
  color: #1e1e1e;
  font-family: 'primaryFont';
  font-weight: 900;
  text-transform: uppercase;

  span {
    color: #e31e24;
  }

}

h2 {
  color: #1e1e1e;
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  
}



h3 {
  font-size: 24px;
  color: #1e1e1e;
  font-weight: 800;
}



h4 {
  color: #1e1e1e;
}

p {
  color: #1e1e1e;
  font-size: 16px;
}


@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

a {
  color: #1e1e1e;
  text-decoration: none;
  font-family: 'primaryFont';
  font-weight: 600;
}

.yellow-text {
  color: #fff825;
}

.red-text {
  color: #e31e24;
}

.white-text {
  color: white;
}

.bold-text {
  font-weight: 800;
}

.black-text {
  font-weight: 900;
}



@keyframes fade {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}